---
version: 2
updates:
  - package-ecosystem: gomod
    directories:
      - "/"
      - "./pkg/signature/kms/alibaba"
      - "./pkg/signature/kms/aws"
      - "./pkg/signature/kms/azure"
      - "./pkg/signature/kms/gcp"
      - "./pkg/signature/kms/hashivault"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      gomod:
        update-types:
          - "patch"

  # hack/tools/go.mod
  # test/fuzz/go.mod
  - package-ecosystem: gomod
    directories:
      - "./hack/tools"
      - "./test/fuzz"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      tools:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "docker"
    directory: "/test/e2e"
    schedule:
      interval: "weekly"
    groups:
      all:
        update-types:
          - "minor"
          - "patch"
