#
# Copyright 2021 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Go

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: 1.16.3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Cache Modules
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: go build -v

    - name: Test
      run: go test -v ./...

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2.5.1
      with:
        version: v1.39.0
        skip-go-installation: true
        skip-pkg-cache: true

    - name: Run Gosec Security Scanner
      uses: securego/gosec@v2.7.0
      env:
        GOROOT: ""
      with:
        args: ./...

    - name: Ensure no files were modified as a result of the build
      run: git update-index --refresh && git diff-index --quiet HEAD -- || git diff

  e2e:
    runs-on: ubuntu-latest
    needs: [build]
    services:
      vault:
        image: vault
        env:
          VAULT_DEV_ROOT_TOKEN_ID: testtoken
        ports:
        - 8200/tcp
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Cache Modules
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Test
      env:
        VAULT_ADDR: http://localhost:${{ job.services.vault.ports[8200] }}
        VAULT_TOKEN: testtoken
      run: go test -tag=e2e -race -v ./test/e2e/...